.trusted {
  margin: 110px 0 0 0;
  padding: 50px 0;
  background: $colorBgAccent;

  @media (max-width: $breakpoint992) {
    margin: 55px 0 0 0;
  }

  @media (max-width: $breakpoint480) {
    padding: 30px 0;
  }

  // .trusted__heading

  &__heading {
    font-size: 28px;
    line-height: 1;
    text-align: center;

    @media (max-width: $breakpoint480) {
      line-height: 1.22;
    }
  }

  // .trusted__partners

  &__partners {
    margin: 48px 0 0 0;

    @media (max-width: $breakpoint480) {
      margin: 38px 0 0 0;
    }
  }
}

.partners {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 35px 69px;
  @include gap-flex-safari(35px, 69px, 48px);

  @media (max-width: $breakpoint768) {
    gap: 30px;
    @include gap-flex-safari(30px, 30px, 35px);

  }

  // __link
  &__link {}

  // .partners__item

  &__item {
    transition: $linkTransition;

    &:hover {
      transform: scale(1.05);
    }
  }

  // .partners__logo

  &__logo {}
}