// * Global SCSS imports
@import "normalize";
@import "_reset";
@import "fonts";
@import "_vars";
@import "_global";


// * Libs
//@import "../../node_modules/bootstrap/scss/bootstrap";


// * Main SCSS Content

// * global общие
.button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background: $colorMain;
  color: $colorBg;
  fill: $colorBg;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  transition: $linkTransition;

  &:hover {
    background-color: $colorMainDark;
  }
}

.heading {
  font-style: normal;
  font-weight: 700;
  color: $colorFontMain;
}

.text {
  font-style: normal;
  font-weight: 300;
  @include adaptive-font(14, 12);
  line-height: 1.71;
  color: $colorSubheading;
}

//*

// * Sections SCSS files imports
@import "_header";
@import "displayDemo";
@import "special";
@import "trusted";
@import "backing";
@import"_footer";